body {
    background-color: #372069;

  }

h1 { color: rgb(255, 255, 255); }
h2 { color: #369; }
h3 { color: rgb(247, 15, 169); }
p  { color: WHITE; }
li  { color: rgb(180, 180, 180); }
td {color:rgb(195, 0, 255)}